        <!-- Content section 3-->
        <section id="orlando">
            <div id="album py-5">
                <div class="container">
                    <h2 class="masthead-subheading mb-0" style="padding-top: 4rem; padding-bottom: 4rem;">ORLANDO</h2>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="padding-bottom: 4rem;">
                        <div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=132596&layout=3" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/orlando/131-orlando.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        Beautiful Mickey’s Cottage/10 minutes From Disney<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=132596&layout=3" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Orlando,</b> Florida</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=138716&layout=3" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/orlando/605-orlando.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        Quaint & Cute Mickey Mouse Cottage Sherwood Forest<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=138716&layout=3" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Orlando,</b> Florida</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=123036&layout=3" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/orlando/840-orlando.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        SANITIZED/PROMOTION/ NEAR DISNEY & OLD TOWN<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=123036&layout=3" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Orlando,</b> Florida</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=157411" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/orlando/904-orlando.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        Cozy Cottage With Frozen & Woody In Sherwood<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=157411" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Orlando,</b> Florida</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=123037&layout=3" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/orlando/956-orlando.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        SANITIZED/PROMOTION/THE LAKE HOUSE FOR LOVERS<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=123037&layout=3" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Orlando,</b> Florida</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=138517&layout=3" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/orlando/1555-orlando.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        Champions Gate / Lazy River / Private Pool<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=138517&layout=3" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Orlando,</b> Florida</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=143359&layout=3" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/orlando/2603-orlando.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        Cinderella & Friends In Seven Dwarfs<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=143359&layout=3" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Orlando,</b> Florida</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=136906&layout=3" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/orlando/2903-orlando.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        Mickey In Hogwarts Castle<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=136906&layout=3" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Orlando,</b> Florida</small>
                                    </div>
                                </div>
                            </div>
                        </div-->

                        <div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=143166&layout=3" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/orlando/3208-orlando.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        Marvel & Mickey Mouse in West Lucaya!!!<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=143166&layout=3" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Orlando,</b> Florida</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=135926&layout=3" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/orlando/3213-orlando.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        The Adventures of Hulk and Mickey in West Lucaya<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=135926&layout=3" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Orlando,</b> Florida</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=135157&layout=3" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/orlando/3230-orlando.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        Minions in West Lucaya<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=135157&layout=3" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Orlando,</b> Florida</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=106689&layout=3" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/orlando/4560-orlando.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        Harry & Mickey in the magical world of 7 DWARFS<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=106689&layout=3" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Orlando,</b> Florida</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=93974&layout=3" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/orlando/8943-orlando.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        GALAXY IN WEST LUCAYA RESORT<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=93974&layout=3" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Orlando,</b> Florida</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=107102&layout=3" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/orlando/8984-orlando.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        TOY STORY & Sheriff Woody in West Lucaya!!<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=107102&layout=3" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Orlando,</b> Florida</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=148044" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/orlando/2219-orlando.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        Marvel/Disney Themed House<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=148044" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Orlando,</b> Florida</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=152480" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/orlando/315-orlando.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        315 · Jurassic Park & Donald Duck In Sherwood Forests<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=152480" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Orlando,</b> Florida</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=150181" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/orlando/8919-orlando.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        Mickey Mouse's Palace in West lucaya!! Heated Pool<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=150181" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Orlando,</b> Florida</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=159372" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/orlando/yoda-orlando.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        Baby Yoda and Harry Potter in Hogwarts Castle<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=159372" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Orlando,</b> Florida</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>