        <!-- Content section 2-->
        <section id="tulum">
            <div id="album py-5">
                <div class="container">
                    <h2 class="masthead-subheading mb-0" style="padding-top: 4rem; padding-bottom: 4rem;">TULUM</h2>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=102507&layout=3" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/tulum/14-tulum.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        AMAZING TULUM NEAR CENOTES BEACHES/FREE TWO BIKES<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=102507&layout=3" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Tulum,</b> Mexico</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=132599&layout=3" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/tulum/15-tulum.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        TULUM/Cenotes/Beaches/Two free bikes/Roof TOP<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=132599&layout=3" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Tulum,</b> Mexico</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=107103&layout=3" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/tulum/19-tulum.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        Last minute PRICE /TULUM La veleta 2 FREE BIKES<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=107103&layout=3" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Tulum,</b> Mexico</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="col">
                            <div class="card shadow-sm">
                                <a href="https://beds24.com/booking2.php?propid=132595&layout=3" style="cursor:pointer; cursor: hand" target="_blank">
                                    <img class="bd-placeholder-img card-img-top" src="assets/img/tulum/rosa-blanca.jpg" width="100%" height="265">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">
                                        Amazing Tulum/High Speed WiFI/ Two Free Bikes<br><br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="https://beds24.com/booking2.php?propid=132595&layout=3" target="_blank">Book</a>
                                        </div>
                                        <small class="text-muted"><b>Tulum,</b> Mexico</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>